<div class='book'>
  <img class='img-rectangle' src='{{image}}' alt='{{name}}' />
  <div class='box'><h2>{{author}}</h2>
    <div>Birth Date: {{birthdate}}</div>
    <div>Birthplace: {{birthplace}}</div>
    <div>Died: {{death}}</div>
    <div>Starsign:
      {{#each starsign}}
        <a href='/starsign/{{this}}'>{{this}}</a>
      {{/each}}</div>

    <div>Subjects:
      {{#each subjects}}
        <a href='/subjects/{{this}}'>{{this}}</a>
      {{/each}}
    </div>
  </div>
</div>